.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 55vh;
  padding: 20px;
}

.subTitle {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
}

.singleMean {
  display: flex;
  flex-direction: column;
  padding: 20px;


}